USE [master]
GO
/****** Object:  Database [StripsDb]    Script Date: 10/01/2025 01:44:57 ******/
CREATE DATABASE [StripsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StripsDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\StripsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StripsDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\StripsDb_log.ldf' , SIZE = 2560KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StripsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StripsDb]
GO
/****** Object:  Table [dbo].[Auteurs]    Script Date: 10/01/2025 01:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auteurs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reeksen]    Script Date: 10/01/2025 01:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reeksen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Naam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StripAuteurs]    Script Date: 10/01/2025 01:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StripAuteurs](
	[StripId] [int] NOT NULL,
	[AuteurId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StripId] ASC,
	[AuteurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Strips]    Script Date: 10/01/2025 01:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strips](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [nvarchar](255) NOT NULL,
	[UitgeverijId] [int] NOT NULL,
	[ReeksId] [int] NULL,
	[ReeksNummer] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Strips] UNIQUE NONCLUSTERED 
(
	[Titel] ASC,
	[UitgeverijId] ASC,
	[ReeksId] ASC,
	[ReeksNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uitgeverijen]    Script Date: 10/01/2025 01:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uitgeverijen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
	[Adres] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Uitgeverijen_Naam] UNIQUE NONCLUSTERED 
(
	[Naam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StripAuteurs]  WITH CHECK ADD FOREIGN KEY([AuteurId])
REFERENCES [dbo].[Auteurs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StripAuteurs]  WITH CHECK ADD FOREIGN KEY([StripId])
REFERENCES [dbo].[Strips] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Strips]  WITH CHECK ADD FOREIGN KEY([ReeksId])
REFERENCES [dbo].[Reeksen] ([Id])
GO
ALTER TABLE [dbo].[Strips]  WITH CHECK ADD FOREIGN KEY([ReeksId])
REFERENCES [dbo].[Reeksen] ([Id])
GO
ALTER TABLE [dbo].[Strips]  WITH CHECK ADD FOREIGN KEY([UitgeverijId])
REFERENCES [dbo].[Uitgeverijen] ([Id])
GO
ALTER TABLE [dbo].[Strips]  WITH CHECK ADD FOREIGN KEY([UitgeverijId])
REFERENCES [dbo].[Uitgeverijen] ([Id])
GO
USE [master]
GO
